#main-preview{
    background-color: var(--light-accents-color);
    font-family: 'Poppins';
    position: relative;
    z-index: -2;
    
    .main-preview-block{
        z-index: -2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .main-preview-block-image{
            z-index: 0;
            background-color: var(--secondary-color);
            border-radius: 100%;
            width: 416px;
            height: 416px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .main-preview-block-image-exclude{
                position: absolute;
                z-index: 1;
            }

            .main-preview-block-image-coffie-cup{
                position: absolute;
                transform: translateY(-20px);
                z-index: 2;
            }

            .coffie-label-border{
                background-color: white;
                border-radius: 42px;
                font-weight: bold;
                box-shadow: -2px 19px 32px #302d2652;
                position: relative;
            }

            .border{
                z-index: 2;
                position: absolute;
                background-color: 7px solid rgb(0, 0, 0);
                width: 100%;
                height: 100%;
                top:-6px;
                left: -6px;
                border: 6px solid rgb(255, 255, 255);
                border-radius: 42px;
                opacity: 0.5;
            }

            .coffie-label-border h4{
                margin: 0;
            }


            .coffie-label-title{
                z-index: 3;
                position: absolute;
                top:35px;
                left: -60px;
                font-size: 22px;
                padding: 10px 50px 10px 50px;
            }

            .coffie-label-rate{
                position: absolute;
                z-index: 3;
                font-size: 22px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 10px 35px 10px 35px;
                font-weight: 900;
                top:80px;
                right: -20px;
            }

            .coffie-label-count{
                position: absolute;
                z-index: 3;
                font-size: 22px;
                font-size: 22px;
                padding: 10px 50px 10px 50px;
                bottom: 30px;
                left: 0px;
            }
        }

        .bg-top-coffie-beans{
            position: absolute;
            right: -250px;
            top:-200px;
            z-index:-1;
        }

    }

    
}