

#main-preview{
    background-color: var(--light-accents-color);
    font-family: 'Poppins';
    position: relative;
    z-index: 1;
    color: var(--secondary-color);
    padding-bottom: 280px;
    
    .main-preview-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        z-index: 4;

        .main-preview-block-image{
            position: relative;
            z-index: 4;
            background-color: var(--secondary-color);
            border-radius: 100%;
            width: 416px;
            height: 416px;
            display: flex;
            justify-content: center;
            align-items: center;

            .main-preview-block-image-exclude{
                position: absolute;
                z-index: 4;
            }

            .main-preview-block-image-coffie-cup{
                position: absolute;
                transform: translateY(-20px);
                z-index: 4;
                 
            }

            .coffie-label-border h4{
                margin: 0;
            }


            .coffie-label-title{
                z-index: 4;
                position: absolute;
                top:35px;
                left: -60px;
                font-size: 22px;
                padding: 10px 50px 10px 50px;
            }

            .coffie-label-rate{
                position: absolute;
                z-index: 4;
                font-size: 22px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 10px 35px 10px 35px;
                font-weight: 900;
                top:80px;
                right: -20px;
            }

            .coffie-label-count{
                position: absolute;
               
                font-size: 22px;
                font-size: 22px;
                padding: 10px 50px 10px 50px;
                bottom: 30px;
                left: 0px;
            }
        }

        .main-preview-block-text{
            z-index: 4;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 100px;
            .main-preview-block-text-buttons{
                display: flex;
                align-items: center;
                gap: 40px;

                .order-btn{
                    font-size: 14px;
                    font-weight: bold;
                    color: white;
                    background-color: var(--secondary-color);
                    padding: 12px 32px 12px 32px;
                    border-radius: 33px;
                    border: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;

                    .btn-white-card-icon{
                        background-color: var(--primary-color);
                        border-radius: 100%;
                        padding: 5px;
                    }
                }

                .menu-btn{
                    padding: 10px 24px 10px 24px;
                    font-size: 12px;
                    font-weight: bold;
                    color: var(--primary-color);
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    cursor: pointer;
                }
            }

            .section-title{
                font-size: 32px;
                position: relative;
                z-index: 4;
                .bg-bottom-coffie-beans{
                    position: absolute;
                    left: -140px;
                    bottom: -260px;
                    z-index: 3;
                }

                .underline{
                    margin: 0;
                    border-bottom: 4px solid var(--primary-color);
                    
                    position: relative;
                    z-index: 4;
                    
                }
            }
        }

        .main-preview-block-text h1{
            font-size: 48px;

            .coffie-focus{
                color: var(--primary-color);
            }
        }

        .main-preview-block-text p{
            color: var(--light-color);
            font-size: 18px;
        }

        .bg-top-coffie-beans{
            position: absolute;
            right: -200px;
            top:-200px;
            z-index:3;
            
        }

    }

    
}

///////////////////////////////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////////////////////////////////////
/// 

#coffie-list{
    color: var(--secondary-color);
    background-color: white;
    height: 600px;
    position: relative;

    .coffie-list-container{

        position: relative;

        .coffie-list-box{
            background-color: #F9D9AA;
            height: 360px;
            width: 100%;
            border-radius: 50px;
            position: absolute;
            top: -120px;
            z-index: 6;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .coffie-list-box-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -95px;
                gap:50px;

                .coffie-item{
                
                    .coffie-item-preview{
                        margin-bottom: 10px;
                        position: relative;
    
                        img{
                            border-radius: 12px;
                        }
    
                        .coffie-item-preview-rate{
                            position: absolute;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            padding:5px;
                            top:10px;
                            left: 10px;
                            h4{
                                margin: 0;
                            }
                        }
    
                    }

                    .coffie-item-text{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        h1{
                            margin: 0;
                        }

                        .coffie-item-text-price{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .coffie-card-icon{
                                background-color: var(--primary-color);
                                border-radius: 100%;
                                width: 18px;
                                padding: 9px;
                            }
                        }

                        .coffie-item-text-title{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .coffie-card-buttons-wrapper{
                                display: flex;
                                flex-direction: row;
                                gap: 19px;
                                align-items: center;
                            }

                            .coffie-card-buttons-wrapper button{
                                font-size: 16px;
                                font-weight: bold;
                                color: #FFD28F;
                                padding: 10px;
                                background-color: rgba(255, 255, 255, 0);
                                border-radius: 8px;
                                border: 2px solid #FFD28F;
                                padding: 10px;
                                cursor: pointer;
                                transition: 0.3s;
                                z-index: 20;
                                position: relative;
                            }

                            .coffie-card-buttons-wrapper button:hover{
                                color: var(--primary-color);
                                border-color:  var(--primary-color);
                            }
                        }

                        
                    }
    
                }
            }
            
            .coffie-item-border-box{
                border-radius: 10px;
                padding: 20px;
            }
        }
    }

    
}


///////////////////////////////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////////////////////////////////////
/// 


#delivery{
    
}