#about-us{
    background-color: var(--light-accents-color);
    height: 480px;
    margin-top: 200px;

    .about-us-main-wrapper{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        .about-us-wrapper{
            display: flex;
            align-items: end;
            justify-content: center;
            position: absolute;
            gap: 175px;
            top:-80px;

            .about-us-image-wrapper{
                position: relative;
                z-index: 3;
            }
    
            .about-us-info{
                width: 478px;
                position: relative;
                z-index: 3;
                h1{
                    margin: 0;
                    color: black;
                    font-size: 32px;
                    margin-bottom: 24px;
                    word-wrap: break-word;
                }

                h2{
                    margin: 0;
                    color: black;
                    font-size: 24px;
                    margin-bottom: 15px;
                    word-wrap: break-word;
                }
                
                p{
                    margin: 0;
                    font-size: 18px;
                    color:var(--light-color);
                    margin-bottom: 32px;
                    word-wrap: break-word;
                }

                button{
                    padding: 10px 24px 10px 24px;
                    font-size: 12px;
                    color: var(--primary-color);
                    background-color: var(--secondary-color);
                    border-radius: 33px;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }

    
    .about-us-exclude-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .about-us-exclude{
            object-fit: cover;
            position: absolute;
            z-index: 1;
            
        }
    
    }


}


@media screen and (max-width:1070px) {
    #about-us{
        height: 850px;

        .about-us-main-wrapper{
            .about-us-wrapper{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 125px;
            }
           
        }
    }

   
}

@media screen and (max-width:490px) {
    #about-us{
        .about-us-main-wrapper{
            .about-us-wrapper{


                .about-us-info{
                    width: 300px;
                }
            }
           
        }
    }

   
}

@media screen and (max-width:490px) {
    #about-us{
        .about-us-main-wrapper{
            .about-us-wrapper{
                .about-us-image-wrapper img{
                    width: 300px;
                }
            }
           
        }
    }
}

